.mat-toolbar {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f0db4f;
}

.heading {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 36px;
    padding: 30px 40px;

}

.search-form {
    margin: 0 auto;
    width: 280px;
}


#output {
    display: flex;
    justify-content: center;
    margin: 10px 170px 0px 50px;
}

#container {
    display: flex;
    justify-content: center;
    margin: 10px 170px 25px 50px;
}


h1 {
	font-family: sans-serif;
	text-align: center;
	color: #f0db4f;
	
}

h2 {
	font-family: sans-serif;
	text-align: center;
	color: #000000;
}


input {
    background-color: #000000;
    border: none;
    font-family: sans-serif;
    border:3px solid #f0db4f;
    border-radius: 25px;
    color: #f0db4f;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    /*margin: 0px 0px 0px 0px;*/
}
