<header>
  <p>
    <mat-toolbar color="primary">
      <h2 class="heading">{{title}}<i class="las la-film"></i></h2>
    </mat-toolbar>
  </p>  
</header>

<section>
 
<div id="output">
  <h1>Enter movie name here</h1>
</div>
<div id="container"> 
   <form class="search-form" (ngSubmit)="getMovieName()">
    <input [(ngModel)]="movieName" name="movieName" type="text" id="input" value=""> 
  </form>
</div>
<div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>

  <router-outlet>

  </router-outlet>
</section>

